<%- include('../includes/head') %>
</head>

<body>
<%- include('../includes/navigation') %>

<br>
<% if(products.length > 0) { %>
    <% for (let product of products) { %>
        <div class="card">
            <div class="card-header text-center">
                <h1>
                    <%= product.productId.title %>
                </h1>
                <pre> <%= product.productId.description %> </pre>
            </div>
            
            <div class="card-footer">
                <h2>Price : <%= product.productId.price %></h2>
                <br>
                <span>Quantity : </span>
                <a href="/decreaseQty/<%= product.productId._id %>">-</a>
                <input type="text" id="quantity" value="<%= product.quantity %>">
                <a href="/product/addToCart/<%= product.productId._id %>">+</a>
                <br>
                <br>
                <a class="btn btn-success" href="/product/deleteFromCart/<%= product.productId._id %>" >Delete Product</a>
                <br>
            </div>
            <br> 
        </div>
        <hr>
    <% } %>
    <h2>Total : <%= total%></h2>
    <div class="text-center">
        <form action="/postOrder" method="POST">
				<input type="text" hidden name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-primary">Order Now!</button>
        </form>
    </div>
<% } else { %>
    <h3 class="text-center text-primary">No Products Yet!</h3>
<% } %>

<script>
    
</script>

<%- include('../includes/end') %>

