<%- include('../includes/head') %>
<%- include('../includes/navigation') %>


<% if(products.length > 0) { %>

<div class="card">
    <div class="card-header text-center">
        <h1>
            <%= product.title %>
        </h1>
        <pre> <%= product.description %> </pre>
    </div>
    <div class="card-body">
        <img src="<%= imageSRC %>" alt="<%= product.prodName %>"/>
    </div>
    <div class="card-footer">
        <h2>Price : <%= product.price %>
        </h2>
    </div>
</div>
<% } else { %>
    <h3 class="text-center text-primary">No Products Yet!</h3>
<% } %>
<%- include('../includes/end') %>