<%- include('../includes/head') %>
<%- include('../includes/navigation') %>

<div class="container">
    <% if(errorMessage){ %>
    <div> <%= errorMessage %> </div>
    <% } %>
    <div class="text-center">
        <form action="/auth/forgotPassword" method ="POST">
            <label>Enter email address</label>
            <br>
            <input type="email" placeholder="Enter email" required name="resetEmail">
            <input type="text" hidden name="_csrf" value="<%= csrfToken %>">
            <br>
            <br>
            <input type="submit" name="submitEmail">
        </form>
    </div>
</div>


<%- include('../includes/end') %>
