<%- include('../includes/head')%>
</head>

<body>
<%- include('../includes/navigation') %>

<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2><%= prodName %></h2>
        </div>
        <div class="card-body text-center">
            <pre><%= prodDesc %></pre>
        </div>
        <div class="card-footer">
            <h3>Price : <%= prodPrice %></h3>
        </div>
        <div>
            <a class="btn btn-success" href="/product/addToCart/<%= prodId %>">Add To Cart!</a>
        </div>
    </div>
</div>

<%- include('../includes/end')%>