<%- include('../includes/head') %>
<%- include('../includes/navigation') %>

<form action="/auth/resetPassword" method ="POST">
    <label>New Password</label>
    <input type="password" placeholder="Enter new password" required name="newPassword">
    <br>
    <br>
    <label>Confirm Password</label>
    <input type="password" placeholder="Confirm password" required name="confirmPassword">
    <input type="text" hidden name="userId" value="<%= userId %>">
    <input type="text" hidden name="passwordToken" value="<%= passwordToken %>">
    <input type="text" hidden name="_csrf" value="<%= csrfToken %>">
    <br>
    <br>
    <input type="submit" name="Update Password!">
</form>


<%- include('../includes/end') %>